#bio {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(550px,1fr));
    grid-template-rows: 1fr;
    gap: 10px 50px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    align-items: center;
   
  }
   #bio-Image{
      justify-self: flex-start;
  } 
  #bio-text{
    margin-left: 100px;
    /* grid-area:1/1/2/2; */
    /* border: 1px solid rgb(0, 0, 0); */
  }
  #paragraph0{
    font-size: 25PX;
  }
  #button0{
    width: 200px;
    height: 64px;
    font-size: 20px;
    background-color:#F28066;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-style: hidden;
  }
  #button0:hover{
   background:#eb9f8d;
   color: rgb(255, 255, 255);
  } 
  