
 .nav-bar-work {
   display: grid;
   grid-template-rows:50px;
   grid-template-columns: 1100px auto auto auto;
   column-gap:10px;
   border-bottom: 1px solid grey;
   background-color: white;
 }
 .nav-bar-work {
   padding:25px 0 0 0;
   font-size: 20px;
   text-align:center;
   align-content: center;
 }

 #Logo
 {
    text-align: left;
 } 

a#Work-button{
  color: #f28066;
 
}
a#about-button{
  color: #000000;
  text-decoration: none;
}
a#about-button:hover{
  color: #f28066;
  text-decoration: none;
}
a#contact-button{
  color: #000000;
  text-decoration: none;
}
a#contact-button:hover{
  color: #f28066;
  text-decoration: none;
}

