
 .nav-bar-contact {
    display: grid;
    grid-template-rows:50px;
    grid-template-columns: 1100px auto auto auto;
    column-gap:10px;
    border-bottom: 1px solid grey;
    background-color: white;
  }
  .nav-bar-contact {
    padding:25px 0 0 0;
    font-size: 20px;
    text-align:center;
    align-content: center;
  }
 
  #Logo
  {
     text-align: left;
  } 
 
 a#Work-button-contact{
   color: #000000;
   text-decoration: none;
 }
 a#Work-button-contact:hover{
    color: #f28066;
    text-decoration: none;
  }
 a#about-button-contact{
   color: #000000;
   text-decoration: none;
 }
 a#about-button-contact:hover{
   color: #f28066;
   text-decoration: none;
 }
 a#contact-button-contact{
    color: #f28066;
    text-decoration:underline;
  }
  a#contact-button-contact:hover{
    color: #f28066;
    text-decoration: none;
  }

 