
.project-4 {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(550px,1fr));
  grid-template-rows: 1fr;
  column-gap: 10px;
  background-color: #FFEEE7;
  align-items: center;
}
#image4{
  padding: 0;
} 
#text-part4{
 font-size: 30px;
  }
  #button4-4{
    background-color:#FFEEE7;
    border: 2px solid #F28066;
    cursor: pointer;
    font-size: 20px;
    text-align:center;
    color: #F28066;
    height: 64px;
    width: 200px;
  }
  #button4-4:hover{
    background-color:#F28066;
    color:rgb(255, 255, 255);
  }
 
 