
.project-3{
  /* display: grid;
  grid-template-columns:repeat(auto-fill, minmax(550px,1fr)); */
  /* grid-template-rows: 1fr;
  column-gap: 10px; */
  background-color: #FFEEE7;
  align-items: center;
}
#image3{
 padding: 0%;
} 
#text-part3{
  font-size: 30px;
  
  }
  #button4-3{
    background-color:#FFEEE7;
    border: 2px solid #F28066;
    cursor: pointer;
    font-size: 20px;
    text-align:center;
    color: #F28066;
    height: 64px;
    width: 200px;
  }
  #button4-3:hover{
    background-color:#F28066;
    color:rgb(255, 255, 255);
  }
  #portfololio-as-image{
    margin: 0 100px 0 100px;
    width: 80vw;
  }
  .link>a{
    color: black;
    font-size: larger;
    text-decoration: none;
    font-weight: 800;
    position: relative;
    left: 4%;
  }
  .text{
    position: relative;
    top: 20px;
    left: 4%;
    color: red;
    font-size: larger;
    text-decoration: none;
    font-weight: 800;
    /* margin-left: 33px; */
  }
 