
.project-1{
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(550px,1fr));
  grid-template-rows:1fr;
  column-gap: 10px;
  background-color: #FFEEE7;
  align-items: center;
  
  }
  #image-1{
    padding: 0;
    /* border: 1px solid red; */
  } 
  #text-part-1{
    font-size: 30px;
    /* border: 1px solid rgb(0, 0, 0); */
    }

  #button4-1{
    background-color:#FFEEE7;
    border: 2px solid #F28066;
    cursor: pointer;
    font-size: 20px;
    text-align:center;
    color: #F28066;
    height: 64px;
    width: 200px;
  }
  #button4-1:hover{
    background-color:#F28066;
    color:rgb(255, 255, 255);
  }
  a#case-study-button{
    color:#F28066;
    text-decoration: none;
  }
  a#case-study-button:hover{
    color:#ffffff;
    text-decoration: none;
  }
  /* #about-project-1 >p
  {
  font-size: 24px;
  text-align: center;
  margin: 0px 300px 0px 300px;
  line-height: 40px;
  }
  #about-project-1 >h1
  {
    text-align: center;
    font-size: 40px;
  } */

  /* #brief-project-1
  {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(550px,1fr));
  grid-template-rows:1fr;
  column-gap: 100px;
  background-color: #FFEEE7;
  margin: 0 100px 0 100px;
  } */
  #brief-project-1{
    margin: 0 100px 0 100px;
    text-align: center;
  }
  #rasoi{
    font-size: 52px;
    text-align: center;
  }
  
 #project-overview-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(550px,1fr));
  grid-template-rows:1fr;
  column-gap: 100px;
  background-color: #FFEEE7;
  margin: 0 100px 0 100px;
 }
 #left-column{
   margin-left: 100px;
 }
 #right-column{
  justify-self:center;
  margin-top: 50px; 
} 