
.project-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
  column-gap:200px;
  row-gap: 5px  ;
  /* border: 1px solid red; */
  background-color: #FFEEE7;
  }

  .project-1 {
    font-size: 30px;
    text-align: left; 
  }
  #image-1{
    padding: 30px 0px 30px 0px;
    grid-area: 1/1/6/2;
  } 
  #text-part-1{
    grid-area: 2/2/5/3;
    }

  #button4-1{
    background-color:#FFEEE7;
    border: 2px solid #F28066;
    cursor: pointer;
    font-size: 20px;
    text-align:center;
    color: #F28066;
    height: 64px;
    width: 200px;
  }
  #button4-1:hover{
    background-color:#F28066;
    color:rgb(255, 255, 255);
  }
  a#case-study-button{
    color:#F28066;
    text-decoration: none;
  }
  a#case-study-button:hover{
    color:#ffffff;
    text-decoration: none;
  }
  #about-project-1 >p
  {
  font-size: 24px;
  text-align: center;
  margin: 0px 300px 0px 300px;
  line-height: 40px;
  }
  #about-project-1 >h1
  {
    text-align: center;
    font-size: 40px;
  }
 #project-overview-container{
display: grid;
grid-template-columns: 1fr 1fr;
background-color: #FFEEE7;
margin: 0 100px 0 100px;
 }
 #left-column{
   align-content: centers;
   margin-left: 200px;
 }
 #right-column{
  margin-left: 200px;
  margin-top: 50px;
}